.App {
  background: rgb(248,76,104);
  background: linear-gradient(43deg, rgba(248,76,104,1) 0%, rgba(194,76,248,1) 100%, rgba(0,0,0,0) 100%);
  height: 100vh;
  padding-top: 20px;
}
.title{
  margin: 0;
  padding: 10px;
}
.header{
  background: rgb(169, 53, 223)!important;
  color: white!important;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom:20px;
}

textarea{
  width:90%; 
  display:block; 
  margin:0 auto;
}

.container{
  height: 90vh;
  overflow-y: auto;
}
